* {
	margin:0px;
	padding:0px;
}
body {
    font-size:12px;
    text-align:center;
    font-family:'lucida grande',tahoma,arial,sans-serif;
}
hr {
	size: 1px;
	margin-top: 12px;
	margin-bottom: 12px;
}
a {
	/*color: #333366;*/
	color: #15428B;
}
#doc {
	/*margin:auto;
	min-width:1000px;
	text-align:left;
	width: 1000px;
	background: #B2BDC4;*/
}
#hd {
	margin-top:8px;
	margin-bottom:8px;
}
#bd {
	/*background: #4E79B2;
	#BDDDE8*/
	margin-bottom:0px;
}
#bd #dt {
	margin:auto;
	min-width:1000px;
	text-align:left;
	width: 1000px;
}
#ft {
	clear:both;
	padding: 8px;
	margin-top: 1px;
	text-align: center;
}
#ft-inner {
	margin:auto;
	min-width:1000px;
	text-align:left;
	width: 1000px;
}