@CHARSET "UTF-8";
.user-item {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    padding:3px 10px 3px 10px;
    border:1px solid #fff;
    border-bottom:1px solid #eeeeee;
    white-space:normal;
    color:#555;
}
.user-item h3 {
    display:block;
    font:inherit;
    font-weight:bold;
    color:#222;
}

.user-item h3 span {
    float: right;
    font-weight:normal;
    margin:0 0 5px 5px;
    width:40px;
    display:block;
    clear:none;
}