<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<bean id="initSitePlugin" class="net.zeng.jxsite.module.system.web.plugin.InitSitePlugin">
		<property name="configService">
			<ref bean="configurationService"/>
		</property>
	</bean>
	
	<bean id="initPagePlugin" class="net.zeng.jxsite.module.system.web.plugin.InitPagePlugin">
		<property name="pageService">
			<ref bean="pageService"/>
		</property>
	</bean>
	
	<bean id="extPlugin" class="net.zeng.jxsite.module.system.web.plugin.ExtPlugin">
		<property name="configurationService">
			<ref bean="configurationService"/>
		</property>
	</bean>
	
	<bean id="userPlugin" class="net.zeng.jxsite.module.system.web.plugin.UserPlugin">
	</bean>

	<bean id="pluginFactory" class="net.zeng.mvc.plugin.SimplePluginFactory">
		<property name="pluginMap">
			<map>
				<entry key="InitSitePlugin">
					<ref local="initSitePlugin" />
				</entry>
				<entry key="InitPagePlugin">
					<ref local="initPagePlugin"/>
				</entry>
				<entry key="ExtPlugin">
					<ref local="extPlugin"/>
				</entry>
				<!-- 
				<entry key="userPlugin">
					<ref local="userPlugin"/>
				</entry>
				 -->
			</map>
		</property>
	</bean>

</beans>